$primary: #ff6347;
$primary-dark: #ff6347;
$primary-light: #ff6347;

$secondary: #ff6347;
$secondary-dark: #ff6347;
$secondary-light: #ff6347;

$text: #6e6d7a;

$border: #ededed;
$border-gray: #333;
$border-green: #5aaa9a;