$primary: #31da9f;
$primary-dark: #ff6347;
$primary-light: #ff6347;

$secondary: #1c212d;
$secondary-dark: #ff6347;
$secondary-light: #74809d;

$bg-gray: #f7f7f7;

$text: #6e6d7a;

$border: #d7dde7;
$border-gray: #333;
$border-green: #5aaa9a;